APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_NAME=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

API_MDS_KEY=e27d1b14440f94063083b7e94c7ea63759da40ec36afb21f58526d75f5afa575
GOOGLE_API_KEY=
API_MDS_URL=https://api.mds.gob.ar/api/v2
SSO_MDS_URL=https://sso.mds.gob.ar